root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = 100
trim_trailing_whitespace = false

[*.{kt,kts}]
indent_style = tab
indent_size = 4
ij_kotlin_right_margin = 120
max_line_length = off

